@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'Fira Sans', sans-serif;
}


.cabeca {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px 10px 20px;
}